<header>
  <nav class="header">
    <h1 class="ui center aligned container">LTPS Testmodus</h1>
    <button routerLink='' class="ui blue button"> <i class="left arrow icon"></i> Home </button>
    <button routerLink='../test-multiple-choice-fragen' class="ui blue button"> <i class="fas fa-angle-double-down"></i> Multiple-Choice-Fragen </button>
    <button routerLink='../testtmodus-single-choice-fragen' class="ui blue button"> <i class="fas fa-angle-double-down"></i> Single-Choice-Fragen </button>
    <button routerLink='../testmodus-fill-inn' class="ui blue button"> <i class="fas fa-angle-double-down"></i> Fill-In-Fragen </button>
    </nav>
    <br><br><br><br><br>
</header>
    <hr>
<!-- <app-multi-choice-fragen-liste></app-multi-choice-fragen-liste> -->
<div >
  <h1 class="">Wichtiger Hinweis</h1>
  <h4 class="">Hast du dich gut vorbereitet? Dann versuch es mit dem Testmodus. Folgende Hinweise sind zu beachten: Du hast insgesamt 7 tries.
    Sind deine 7 tries überschritten wird der Testmodus abgebrochen und das Ergebnis wird dir angezeigt und wir empfehlen dir nochmals den Lernmodus
    zu lernen bevor du es mit dem Testmodus versuchst. Bei jede Falsche antwort wirst du nochmals eine Frage davor beantworten müssen (Für einen
    besseren Lerneffekt). Falls du dir bei einer Frage nicht sicher bist kannst du jederzeit die Fragen überspringen. Empfehlenswert ist es jedoch
    wieder zurück zu kommen und triesn alle Fragen zu beantworten.
  </h4>
  <h4>Nun gut! Bist du bereit? Dann wähle dein Fragentypen aus und beginne. Viel Erfolg!
  </h4>
  <h3>MERKE!!!</h3>
  <h4>Sei dir Sicher das du dir die Fragen und die darauf folgenden Antworten verstehst! Auswendiglernen bringt keinen Erfolg</h4>
</div>
