.large.text {
  font-size: 20px;
  color: black;
}
.ui.padded.grid.container {
  color: rgb(1, 110, 252);
}
.header{
  position: fixed;
  top: 0%;
  background-color: rgb(199, 213, 228);
  padding: 10px;
  width: 98%;

}

.fixedbutton {
  text-align: right;
  position: fixed;
  right: 50px;
}

.checkbox-round {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(94, 92, 92);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

}

.checkbox-round:checked {
  background-color: rgb(35, 134, 248);

}

.ui.right.aligned.container {
text-align: right;
font-size: 15px;
}
.popup {
text-align: center;
margin-top: 10px;
}
