
<header>
  <nav class="header">
    <h1 class="ui center aligned container">LTPS Fill-Inn Test </h1>
    <button routerLink='../testmodus' class="ui blue button" > <i class="left arrow icon"></i> Testmodus</button>
  </nav>
  <br><br><br><br><br>
</header>
<hr>
<p class="fixedbutton">Versuche: {{tries}} von 7</p>

<a *ngFor="let i of fillInFragen;" class="item">
  <div *ngIf="countsID == i.counts; ">
    <div class="ui red large text">
        <p class="ui padded grid container">Question {{i.counts}} / 21</p>
    </div>
    <div class="large text">
         {{i.question}}
    </div>
  <br>
    <div> 
      <input type="text" size="30" placeholder="Gib deine Antwort ein" #box (keyup)="getValue(box.value)">
      <p>Bist du dir Sicher mit {{userInput}} ? </p>
    </div>
  <br>
  <hr>
  <div class="fixedbutton">
      <button class="ui right floated primary button" (click)="nextquestion(i.answer)">nächste Frage <i class="right arrow icon"></i> </button>
      <button class="ui right floated primary button" (click)="frageuebersrpingen(i.counts)">Übersrpingen</button>
    </div>
  </div>
</a>
<div *ngIf="countsID == 23">
  <h3>Glückwunsch!</h3>
  <h4>Du hast den Testmodus bestanden. <br>
    Du hast {{saveCorrectAnswer}} von 21
     Fragen richtig beantwortet. <br>
     Du hast {{savefalseAnswer}} Fragen Falsch beantwortet

    Du hast {{saveSkipQuestion}} Fragen Übersprungen. <br>
    Du hast noch {{tries}} Versuche. <br>
  </h4>
</div>
<div *ngIf="(tries == 0)">
  <h2>Leider Hast du keine Versuche mehr!</h2>
    <h4>Du hast mehr als 7 Fehler.
       <br>
      Wir empfehlen dir nochmal den Lernmodus anzuschauen und wenn du
      dir Sicher bist dann kannst du gerne wieder den testmodus starten. <br>
      <br>

    <button routerLink='/lernmodus' class="ui blue button" title="Leitet dich auf die Lernmodus Seite zurück"> <i class="left arrow icon"></i> Lernmodus </button>
    </h4>
</div>


