
<header>
  <nav class="header">
    <h1 class="ui center aligned container">LTPS Lernmodus Fill-Inn</h1>
    <button routerLink='/lernmodus' class="ui blue button" title="Leitet dich auf die Lernmodus Seite zurück"> <i class="left arrow icon"></i> Lernmodus </button>
    <button routerLink='/einzel-fill-inn-ansicht' class="ui blue button" title="Listet dir Einzelne fragen aus">  Einzel Ansicht <i class="right arrow icon"></i></button>
  </nav>
  <br><br><br><br><br>
</header>
<hr>
  <div class="">
      <a *ngFor="let e of fillinfragen" class="item">
          <div class="ui red large text">
              <p class="ui padded grid container">Question {{e.counts}}</p>
          </div>
          <div class="large text">
              {{e.question}}
          </div>
          <br>

          <div *ngIf="router !='/testmodus'">
              <button class="ui primary basic button" type="button" (click)="switchAnswers(e.counts)"> Answer</button>

              <div *ngIf="switchAnswersFlag">
                  <div *ngIf="answerID == e.counts" class="large text">
                      {{e.answer}}
                  </div>
              </div>
          </div>

          <hr>

      </a>

  </div>

